<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .m{
                margin:100px auto ;
            }
        </style>
    </head>
    <body>
       <div class="m">
         
        <img src="{{ form.p.url }}"><br>
        
        <audio controls>
            <source src="{{ form.a.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
       </div>
         
        <script src="" async defer></script>
    </body>
</html>